<section class="login">
  <div
    class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="w-1/4 py-10">
      <div>
        
        <h2
          class="text-center text-3xl leading-9 font-extrabold text-gray-900"
        >
          Sign in to your account
        </h2>
        
      </div>
      <form action="/login" method="POST" class="mt-8">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm">
          <% if(messages.error){ %> 
            <span class="text-red-500 text-sm pl-4"><%= messages.error %> </span>
          <% } %> 
          <div>
            <input
              aria-label="Email address"
              name="email"
              type="email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
              placeholder="Email address"
            />
          </div>
          <div class="-mt-px">
            <input
              aria-label="Password"
              name="password"
              type="password"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
              placeholder="Password"
            />
          </div>
        </div>

        <div class="mt-6 flex items-center justify-between">

          <div class="text-sm leading-5">
            <a
              href="/register"
              class="font-medium focus:outline-none focus:underline"
            >
              Don't have an account?
            </a>
          </div>
        </div>
        <div class="mt-6">
          <button
            type="submit"
            class="font-bold order-now group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white focus:outline-none "
          >
            Sign in
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
