@import './variables';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body{
    font-family: 'Lato',sans-serif ;
    font-smooth: 2rem;
    color: dark;
    // height: 2000px;
}
.container{
    width: 95%;
}
nav li:last-child a{
    &:hover{
        background-color: $primary-hover;
    }
    background-color: $primary;
}
nav li a{
    transition: $smooth;
}
nav li a:hover{
    color: $primary;
}

.hero{
    background: $secondary;
}
// section img{
//     height: 30rem;
// }

.size{
    background-color: $secondary;
}
.size-cart{
    background-color: gray;
    color: honeydew;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background-color: $primary;
        color: $pure;
        border-color: $pure;
    }
    outline-style: none !important;
    box-shadow: none !important;
}
.order-now{
    background-color: $primary;
    color: $pure;
    margin-top: 20px;
    transition: $smooth;
    &:hover{
        background-color: $primary-hover;
    }
    outline-style: none !important;
    box-shadow: none !important;
}
.cart{
    background-color: $secondary;
}
.amount{
    color: $primary;
}
.login{
    background-color: $secondary;
    min-height: 86vh;
    a{
        color: $primary-hover;
    }
}
.noty_theme__mint{
    border-radius: 50px !important;
    padding-left: 10px !important;
}
.link{
    color: $primary;
    &:hover{
        color: $primary-hover;
    }
}
.orders{
    background-color: $secondary;
    min-height: 86vh;
}
.status{
    background-color: $secondary;
    min-height: 86vh;
}
.status-box{
    padding: 60px 0 0;
}

.status-box ul{
    margin-left: 84px;
}

.status-box ul li span{
    position: relative;
    padding-left: 20px;
}

//dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow:0 0 1px 10px $secondary;
    color: inherit;
}

.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before{
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before{
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before{
    content: '\f4da';
}

.status-box ul li{
    position: relative;
}

.status-box ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
    color: inherit;
}
//last line
.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}

.status-box ul li.step-completed{
    color: $gray;
}

.status-box ul li.step-completed span:after{
    background-color: $gray;
}

.status-box ul li.step-completed:before{
     background-color: $gray;
}

//current class
.status-box ul li.current{
    color: $primary;
}
.status-box ul li.current span:after{
    background-color: $primary;
}

.status-box ul li small{
    color: black;
    float: right;
    margin-bottom: 8px;
}

@media(max-width:1060px){
    .container{
        max-width: 90%;
    }
    table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

