@import './variables';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body{
    font-family: 'Lato',sans-serif ;
    font-smooth: 2rem;
    color: dark;
    // height: 2000px;
}
nav li:last-child a{
    &:hover{
        background-color: $primary-hover;
    }
    background-color: $primary;
}
nav li a{
    transition: $smooth;
}
nav li a:hover{
    color: $primary;
}

.hero{
    background: $secondary;
}
section img{
    height: 30rem;
}

.size{
    background-color: $secondary;
}
.size-cart{
    background-color: gray;
    color: honeydew;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background-color: $primary;
        color: $pure;
        border-color: $pure;
    }
    outline-style: none !important;
    box-shadow: none !important;
}
.order-now{
    background-color: $primary;
    color: $pure;
    margin-top: 20px;
    transition: $smooth;
    &:hover{
        background-color: $primary-hover;
    }
    outline-style: none !important;
    box-shadow: none !important;
}
.cart{
    background-color: $secondary;
}
.amount{
    color: $primary;
}
.login{
    background-color: $secondary;
    min-height: 86vh;
    a{
        color: $primary-hover;
    }
}
.noty_theme__mint{
    border-radius: 50px !important;
    padding-left: 10px !important;
}