<section class="status">
    <div class="container mx-auto ">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="items-center flex justify-between mb-12">
                <h1 class="text-xl font-bold ">Track Dilivery Status</h1>
                <h6 class="bg-white text-blue-300 rounded-full text-sm py-1 px-4"><%= order._id %> </h6>
            </div>
            <ul>
                <li class="status-line text-xl pb-12 step-completed"><span>Placed</span></li>
                <li class="status-line text-xl pb-12"><span>Confirmation</span></li>
                <li class="status-line text-xl pb-12"><span>Preparation</span></li>
                <li class="status-line text-xl pb-12"><span>Out For Dilivery</span></li>
                <li class="status-line text-xl"><span>Completed</span></li>
            </ul>
        </div>
        
    </div>
</section>