<section class="status">
    <div class="container mx-auto ">
        <div class="status-box w-full md:w-2/3 mx-auto">
            <div class="items-center flex justify-between mb-12">
                <h1 class="text-xl font-bold ">Track Delivery Status</h1>
                <h6 class="bg-white text-blue-300 rounded-full text-sm py-1 px-4"><%= order._id %> </h6>
                <input type="hidden" id="hiddenInput" value="<%= JSON.stringify(order) %>">
            </div>
            <ul>
                <li class="status-line text-xl pb-12" data-status="order_placed"><span>Placed</span></li>
                <li class="status-line text-xl pb-12" data-status="confirmed"><span>Confirmation</span></li>
                <li class="status-line text-xl pb-12" data-status="prepared"><span>Preparation</span></li>
                <li class="status-line text-xl pb-12" data-status="delivered"><span>Out For Delivery</span></li>
                <li class="status-line text-xl" data-status="completed"><span>Completed</span></li>
            </ul>
        </div>
        
    </div>
</section>